
# Sources, channels, and sinks are defined per
# agent name, in this case 'agent'.
agent.sources=spool
agent.channels=mem-channel
agent.sinks=hdfs-sink

agent.sources.spool.type=spooldir
agent.sources.spool.spoolDir =/tmp/simplemorphline/spool
agent.sources.spool.deletePolicy=immediate
agent.sources.spool.channels=mem-channel
agent.sources.spool.selector.type=replicating

agent.sources.spool.interceptors = attach-schema morphline
agent.sources.spool.interceptors.attach-schema.type=static
agent.sources.spool.interceptors.attach-schema.key=flume.avro.schema.url
agent.sources.spool.interceptors.attach-schema.value=file:/tmp/simplemorphline/employee.avsc

agent.sources.spool.interceptors.morphline.type=org.apache.flume.sink.solr.morphline.MorphlineInterceptor$Builder
agent.sources.spool.interceptors.morphline.morphlineFile=/tmp/simplemorphline/morphline.config
agent.sources.spool.interceptors.morphline.morphlineId=parseJson

agent.channels.mem-channel.type=memory
agent.channels.mem-channel.capacity=500
agent.channels.mem-channel.transactionCapacity=500

# HDFS Sink
agent.sinks.hdfs-sink.type=hdfs
agent.sinks.hdfs-sink.channel=mem-channel
agent.sinks.hdfs-sink.hdfs.path=/tmp/simplemorphline/avro
agent.sinks.hdfs-sink.hdfs.filePrefix=sm
agent.sinks.hdfs-sink.hdfs.batchSize=10
agent.sinks.hdfs-sink.hdfs.fileType=DataStream
agent.sinks.hdfs-sink.serializer=org.apache.flume.sink.hdfs.AvroEventSerializer$Builder

