morphlines: [
  {
    id: parseJson
    importCommands: [ "org.kitesdk.**" ]
    commands: [
      # read the JSON blob
      { readJson: {} }
      # extract JSON objects into fields
      { extractJsonPaths {
        flatten: true
        paths: {
          user: /user
          company: /firm
        }
      } }
      # add a creation timestamp to the record
      { addCurrentTime {
        field: create_timestamp
        preserveExisting: true
      } }
      # convert the extracted fields to an avro object
      # described by the schema in this field
      { toAvro {
        schemaFile: /tmp/simplemorphline/employee.avsc
      } }
      # serialize the object as avro
      { writeAvroToByteArray: {
        format: containerlessBinary
      } }
    ]
  }
]
